## This file is part of Whonix.
## wtfpl 2014 Marin Atanasov Nikolov <dnaeon@gmail.com>
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: ksm
Section: misc
Priority: extra
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), faketime
Homepage: http://www.unix-heaven.org/
Vcs-Git: git://github.com/dnaeon/ksm-init.d-debian.git
Vcs-Browser: https://github.com/dnaeon/ksm-init.d-debian
Standards-Version: 3.9.4

Package: ksm
Architecture: all
Depends: ${misc:Depends}
Description: Enable kernel shared memory for KVM on Debian or Ubuntu
 Package with init script for enabling kernel shared memory.
